---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="text-center">
        <div class="flex">
          
                  <div class="">
                <h1
                class="mt-10 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
            >
                You look lost
            </h1>
            <div class="mt-10 items-center gap-x-6">
                <a
                    href="/"
                    class="rounded-sm bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
                    >Take me home!</a
                >
            </div>  
            <img src="undraw_404.png" class="" />
            </div>
    
            <div class="grid col-span-1">
    
            </div>
         
        </div>
    </div>


</BaseLayout>
