---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Hero />
		<BaseLayout>
			<h2 class="text-center">🚧 Lift off in 3.. 2.. not long now 🚧</h2>
			<div class="grid grid-cols-2">
				<div class="grid">
					<p>
						The website and subsquent project development work is ongoing in
						the background.
					</p>
					<p>
						I will be posting updates to my LinkedIn. Feel free to reach out
						and connect.
					</p>					
				</div>
				<div class="grid">
					<img src="/undraw_Programming.png" height="250px" width="100%" />				
				</div>
			</div>

			<Footer />
		</BaseLayout>
	</body>
</html>
