<div class="bg-white">
    <div
        class="relative isolate overflow-hidden bg-gradient-to-b from-green-100/20"
    >
        <div
            class="mx-auto max-w-7xl pt-10 pb-12 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:py-20 lg:px-8"
        >
            <div class="px-6 lg:px-0 lg:pt-4">
                <div class="mx-auto max-w-2xl">
                    <div class="max-w-lg">
                        <div class="flex">
                            <div class="relative flex items-center gap-x-4 rounded-full py-1 px-4 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                              <span class="font-semibold text-green-600">What's going on</span>
                              <span class="h-4 w-px bg-gray-900/10" aria-hidden="true"></span>
                              <a href="/blog" class="flex items-center gap-x-1">
                                <span class="absolute inset-0" aria-hidden="true"></span>
                                Check out my blogs to see
                                <svg class="-mr-2 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                </svg>
                              </a>
                            </div>
                          </div>
                        <h1
                            class="mt-10 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl break-words"
                        >
                            Analyse 🔬 <br/>
                            Develop 🛠️ <br/>
                            Visualise 🎨.
                        </h1>
                        <p class="mt-6 text-lg leading-8 text-gray-600">
                            Hello there 👋, welcome to my personal site I hope
                            you find your stay an interesting one. The name of
                            the game is to analyse data, develop interesting
                            visuals and present any findings back through a blog
                            write up.
                        </p>
                        <div class="mt-10 flex items-center gap-x-6">
                            <a
                                href="https://www.linkedin.com/in/drcollings/"
                                class="rounded-sm bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
                                >LinkedIn 🔗</a
                            >
                            <a
                                href="https://github.com/daniel-collings"
                                class="text-sm font-semibold leading-6 text-gray-900"
                                >GitHub 🧑‍💻<span aria-hidden="true">→</span
                                ></a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="mt-20 sm:mt-24 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen"
            >
                <div
                    class="absolute inset-y-0 right-1/2 -z-10 -mr-10 w-[200%] skew-x-[-30deg] bg-white shadow-xl shadow-green-600/10 ring-1 ring-green-500 md:-mr-20 lg:-mr-36"
                    aria-hidden="true"
                >
                </div>
                <div class="shadow-lg">
                    <div
                        class="bg-green-500"
                    >
                        <div
                            class="absolute -inset-y-px left-1/2 -z-10 ml-10 w-[200%] skew-x-[-30deg] bg-green-100 opacity-20 ring-1 ring-inset ring-white md:ml-20 lg:ml-36"
                            aria-hidden="true"
                        >
                        </div>
                        <div
                            class="relative px-6 pt-8 sm:pt-16 md:pl-16 md:pr-0 md:overflow-clip"
                        >
                            <div
                                class="mx-auto max-w-2xl md:mx-0 md:max-w-none"
                            >
                                <div
                                    class="w-screen overflow-hidden rounded-tl-md bg-gray-900"
                                >
                                    <div
                                        class="flex bg-gray-800/40 ring-1 ring-white/5"
                                    >
                                        <div
                                            class="-mb-px flex text-sm font-medium leading-6 text-gray-400"
                                        >
                                            <div
                                                class="border-b border-r border-b-white/20 border-r-white/10 bg-white/5 py-2 px-4"
                                            >
                                                StackedBarChart.tsx
                                            </div>
                                            <div
                                                class="border-r border-gray-600/10 py-2 px-4 text-white"
                                            >
                                                BaseLayout.tsx
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-6 pt-6 pb-14">
                                        <code>
                                        <p>
                                            <span class="text-purple-400"
                                                >export default</span>
                                            <span class="text-blue-500"
                                                >function</span
                                            >
                                            <span class="text-yellow-100"
                                                >BaseLayout</span
                                            ><span class="text-yellow-300"
                                                >(</span
                                            ><span class="text-blue-200"
                                                >{` { children }`}</span
                                            ><span class="text-yellow-300">
                                                {`) {`}</span>
                                        </p>

                                        <p class="text-purple-400 pl-4">
                                            {`return`} (
                                        </p>
                                        <p class="text-blue-500 pl-8">
                                             <span class="text-slate-300">{`<`}</span>
                                             {`div `}
                                                <span class="text-blue-200">{`className`}</span><span class="text-slate-300">=</span>
                                                <span class="text-orange-300">{`"mx-auto max-w-7xl sm:px-6 lg:px-8"`}</span>
                                                <span class="text-slate-300">{`>`}</span>
                                        </p>
                                        <p class="pl-12 text-blue-300">
                                            {`{children}`}
                                        </p>
                                        <p class="text-blue-500 pl-8">
                                            <span class="text-slate-300">{`</`}</span>
                                            {`div`}
                                            <span class="text-slate-300">{`>`}</span>

                                        </p>
                                        <p class="text-purple-400 pl-4">)</p>
                                        <p>
                                            <span class="text-yellow-300"
                                                >{`}`}</span>
                                        </p>
                                        </code>
                                    </div>
                                </div>

                            </div>
                            <div
                                class="pointer-events-none absolute"
                                aria-hidden="true"
                            >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"
        >
        </div>
    </div>
</div>
